:root {
    /* Colors */

    --dark-blue: #130c24;
    --banana-drama: #f2d544;
    --black: #232020;
    --gray: #999999;
    --beige: #f5f5f1;
    --gray-dark: #666666;
    --gray-light: #bdbdbd;
    --illicit-purple: #333333;

    --sour-apple-rings: #2bbd04;
    --brown-yellow: #ba9807;
    --milano-red: #ba1a0b;
    --vibrant-purple: #c715d1;
    --teal: #069989;

    --becquerel: #4df021;
    --gold: #ffd700;
    --tomato-frog: #ff4444;
    --clematis-magenta: #e555f0;
    --ice-climber: #20e6d2;

    --sun-color: #fdd835;       
    --moon-color: #90caf9;     
    --arrow-color: #757575;     
    --dark-mode-icon-color: #000;   

    --mist-white: #e3f6f7;

    --poppy-red: #e63946;
    --soft-alert: #f75555;

    --slate-gray: #5f6368;
    --cool-gray: #b3b3b3;

    /* Component default colors. Note: Colors are expected to start with dark mode and switch to light mode. */

    --exp-front-end-color: var(--sour-apple-rings);
    --exp-back-end-color: var(--teal);
    --exp-version-control-workflow-tools-color: var(--brown-yellow);
    --exp-desktop-color: var(--milano-red);
    --exp-miscellaneous-color: var(--vibrant-purple);

    --exp-front-end-glow-color: var(--becquerel);
    --exp-back-end-glow-color: var(--ice-climber);
    --exp-version-control-workflow-tools-glow-color: var(--gold);
    --exp-desktop-glow-color: var(--tomato-frog);
    --exp-miscellaneous-glow-color: var(--clematis-magenta);

    --tooltip-background-color: var(--illicit-purple);
    --tooltip-text-color: white;

    --banner-content-color: var(--mist-white);

    --error-message-color: var(--soft-alert);

    --disabled-color: var(--cool-gray);

    --text-color: white;
    --dark-mode-icon-color: white;
    --dark-icon-color: var(--black);
    --anchor-color: var(--banana-drama);

    --nav-shadow-box-light-color: 0 2px 6px rgba(161, 49, 49, 0.1);
    --nav-shadow-box: 0 3px 6px rgba(200, 160, 255, 0.15);

    /* Component sizes */

    /* I'd rather have the media queries together to address small device issues in the same place. */
    /*--gap: clamp(30px, 10vw, 80px); */ 
    --gap: 80px;

    /* We will use these for our typography (and beyond in case we need to override font sizes set elsewhere). */
    --text-lg-size : 1.4375rem; /* 23px / 16 */
    --text-normal-size: 1.125rem; /* 18px / 16 */
    --text-small-size: 1rem; /* 16px / 16 */

    /* Base height of nav with NO padding. */
    --nav-height: 50px;
    /* Padding of nav when user has scrolled. Multiple by 2 for top AND bottom. */
    --nav-scrolled-padding-block: 10px;
    /* Padding of nav when user has NOT scrolled. Multiple by 2 for top AND bottom. */
    --nav-unscrolled-padding-block: 20px;
    --scroll-gap: 20px;
    --scroll-margin-top: calc(var(--nav-unscrolled-padding-block) + var(--scroll-gap));
    /* markChange --nav-bar-height-unscrolled: 113px; */
    --email-padding-left: 5px;

    --dark-light-mode-height: 24px;
    --dark-light-mode-top: 10px;

    /* Paths */

	--right-arrow-img-path: url('/assets/arrow-right.svg');
    --logo-img-path: url('/assets/mr-logo-512.png');

    --banner-blue-circuit-video-url: '';
}

/* If light-theme was added via the JavaScript in main.js, switch to light mode colors. */
:root.light-theme {
    --text-color: var(--black);
    --dark-mode-icon-color: var(--black);
    --gray-light: var(--gray-dark);
    --dark-icon-color: white;
    --anchor-color: var(--black);
    --nav-shadow-box: var(--nav-shadow-box-light-color);

    --exp-front-end-glow-color: var(--sour-apple-rings);
    --exp-back-end-glow-color: var(--teal);
    --exp-version-control-workflow-tools-glow-color: var(--brown-yellow);
    --exp-desktop-glow-color: var(--milano-red);
    --exp-miscellaneous-glow-color: var(--vibrant-purple);

    --error-message-color: var(--poppy-red);

    --disabled-color: var(--slate-gray);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;

    /* Needed for nav bar to appear solid. (<html> --> <body> --> <nav> */
    background-color: inherit;
}

/* Use for debugging to see if anything would go past the viewport on the phone. */
/* body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 100vw;
    width: 5px;
    height: 100vh;
    background: red; 
    z-index: 9999;
  } */

html {
    color: var(--text-color);
    background-color: var(--dark-blue); /* best set on html element in case of overscroll */
}

/* Change color of text and background when the user selects it. */
html::selection {
    color: var(--black);
    background-color: var(--banana-drama);
}

/* If light-theme was added via the JavaScript in main.js, switch to light mode color. */
html.light-theme {
    background-color: var(--beige);
}

/* Prevent horizontal overflow (which happens on mobile devices). */
html, body {
    overflow-x: hidden;
}

input, textarea, button, select {
    font: inherit;
}

/* markChange - next 2 */
/* Offset the <main> content to prevent it from being overlapped by the fixed <nav> bar. */
main {
    margin-top: calc(var(--nav-height) + var(--nav-unscrolled-padding-block) * 2);
}

main.main-scrolled {
    margin-top: calc(var(--nav-height) + var(--nav-scrolled-padding-block) * 2);
}

@media (max-width: 37.5rem) {
    /* Reduce the gap on smaller devices. */
    :root {
        --gap: 30px;
    }
    /* Ensure smallest font size is sill legible on smaller devices. */
    html {
        font-size: 70%;
    }
}

/* If the user has no motion preferences, make the scrolling smooth. */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
