:root {
    /* Theme independent colors */
    --dark-blue: #130c24;
    --primary: #f2d544;
    --black: #232020;
    --gray: #999999;
    --beige: #f5f5f1;

    /* For Experience section */
    --dark-olive: #2c4205;
    --kelly-green: #2bbd04;
    --blue-zodiac: #0b2347;
    --brown-yellow: #ba9807;
    --milano-red: #ba1a0b;
    --vibrant-purple: #c715d1;
    --teal: #069989;

    /* Theme dependent colors */
    --text-color: white;
    --light-icon: white;
    --gray-dark: #666666;
    --gray-light: #bdbdbd;
    --dark-icon: var(--black);
    --anchor-color: var(--primary);

    /* I'd rather have the media queries together to address small device issues in the same place. */
    /*--gap: clamp(30px, 10vw, 80px); */ 
    --gap: 80px;
	
	--right-arrow-img-path: url('/src/assets/arrow-right.svg');
    --logo-img-path: url('/src/assets/MR-logo-512.png');
}

@media (max-width: 37.5rem) {
    /* Reduce the gap on smaller devices. */
    :root {
        --gap: 30px;
    }
    /* Ensure smallest font size is sill legible on smaller devices. */
    html {
        font-size: 70%;
    }
}

/* If light-theme was added via the JavaScript in main.js, switch to light mode colors. */
:root.light-theme {
    --text-color: var(--black);
    --light-icon: var(--black);
    --gray-light: var(--gray-dark);
    --dark-icon: white;
    --anchor-color: var(--black);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

html {
    color: var(--text-color);
    background-color: var(--dark-blue); /* best set on html element in case of overscroll */
}

/* Change color of text and background when the user selects it. */
html::selection {
    color: var(--black);
    background-color: var(--primary);
}

/* If light-theme was added via the JavaScript in main.js, switch to light mode color. */
html.light-theme {
    background-color: var(--beige);
}

/* If the user has no motion preferences, make the scrolling smooth. */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

input, textarea, button, select {
    font: inherit;
}