.front-end-text {
    color: var(--exp-front-end-color);
    font-weight: bold;
}

.back-end-text {
    color: var(--exp-back-end-color);
    font-weight: bold;
}

.version-control-workflow-tools-text {
    color: var(--exp-version-control-workflow-tools-color);
    font-weight: bold;
}

.desktop-text {
    color: var(--exp-desktop-color);
    font-weight: bold;
}

.miscellaneous-text {
    color: var(--exp-miscellaneous-color);
    font-weight: bold;
}

.about-me-subsection {
    opacity: 0;
    transform: translateX(0);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
    will-change: transform, opacity;
}

/* Only animate when visible */
.about-me-subsection.slide-in-from-left.visible {
    animation: slideInFromLeft 1.5s ease-out forwards;
  }
  
.about-me-subsection.slide-in-from-right.visible {
    animation: slideInFromRight 1.5s ease-out forwards;
}

#about-me-philosophies-h4 {
    color: var(--gray-light);
}

.philosophies-list li {
    color: var(--gray-light);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}