.footer-icons {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright-paragraph {
    margin: 0;
}

.footer-logo-plus-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 37.5rem) {
   .footer-whole {
        flex-direction: column;
        gap: 10px;
   } 
}