.footer-icons {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright-paragraph {
    margin: 0;
}

.footer-logo-plus-copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer-credits {
    margin-bottom: 20px;
}

.credits-label {
    margin-bottom: 10px;
}

.all-credits {
    margin-left: 50px; /* Indent under the "Credits:" label when screen is wide. */
    margin-bottom: 30px;
}

.credit {
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 37.5rem) {
    .footer-copyright-media {
         flex-direction: column;
         gap: 10px;
    } 

    .footer-credits {
        display: grid;
        gap: 5px;
        justify-content: center;
    }

    .credits-label {
        margin-bottom: 5px;
    }

    /* Remove the ident we set, since we are now centering the footer-credits on the screen. */
    .all-credits {
        margin-left: 0px;
    }
 }
 